# Cổng dịch vụ
PORT=8002
NODE_ENV=development

# Cấu hình PostgreSQL (Database: ecommerce_user_db)
DB_HOST=localhost
DB_PORT=5432
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_secret
DB_NAME=ecommerce_user_db
DATABASE_URL=postgres://ecommerce_user:ecommerce_secret@localhost:5432/ecommerce_user_db

# Giao tiếp liên dịch vụ (Inter-Service)
AUTH_SERVICE_URL=http://localhost:8001

# Bí mật mã hóa JWT
JWT_SECRET=omniorder_super_secret_jwt_key_2026
