PORT=8004
DB_HOST=localhost
DB_PORT=5432
DB_USER=ecommerce_user
DB_PASSWORD=ecommerce_secret
DB_NAME=ecommerce_order_db
JWT_SECRET=super_secret_jwt_key_2026_omniorder_cluster
PRODUCT_SERVICE_URL=http://localhost:8003
USER_SERVICE_URL=http://localhost:8002
AUTH_SERVICE_URL=http://localhost:8001
